* {
    margin: 0;
    padding: 0;
}

button {
    height: 48px;
    width: 50px;
    border-radius: 10%;
}

body {
    background-image: url(./images/castleRoom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-container,
.right-container {
    padding-top: 20px;
}

.WOW-logo {
    width: 300px;
}
.race,
.class {
    background-color: rgb(41, 39, 39);
    border: 5px ridge;
    border-color: lightslategray;
    border-radius: 2%;
    opacity: 0.7;
    text-align: left;
    height: 380px;
    width: 350px;
}

.long-button {
    align-content: center;
    text-align: center;
    background-color: rgb(104, 18, 18);
    color: gold;
    border: 2px ridge;
    border-radius: 7%;
    border-color: gray;
    height: 30px;
    width: 160px;
}

.short-button {
    align-content: center;
    text-align: center;
    background-color: rgb(104, 18, 18);
    color: gold;
    border: 2px ridge;
    border-radius: 7%;
    border-color: gray;
    height: 30px;
    width: 100px;
}

.left-container-card-body {
    background-color: rgb(41, 39, 39);
    border: 5px ridge;
    border-color: lightslategray;
    border-radius: 2%;
    opacity: 0.7;
    border-color: darkgray;
}

.alliance-card-body {
    background-color: blue;
}

.horde-card-body {
    background-color: red;
}

ul {
    list-style: none;
}

/* li > img {
    height: 65px;
    width: 75px;
    border-radius: 10%;
} */

.right-container {
    width: 20%;
}

.class-image {
    height: 25px;
    width: 35px;
    border-radius: 10%;
}

.male,
.female {
    height: 35px;
    width: 35px;
    border-radius: 10%;
}

.extra-inputs {
    border: 5px ridge;
    border-color: lightslategray;
    border-radius: 10%;
    background-color: rgb(41, 39, 39);
    color: white;
    height: 30px;
    width: 160px;
}

.race-text,
.class-text {
    color: white;
}

.name-character {
    color: yellow;
}

.card-body {
    padding: 5;
}

h3 {
    color: white;
}

.alliance-race:hover,
.horde-race:hover {
    border: 1px;
    border-radius: 10%;
    box-shadow: 0px 0px 30px gold;
    border-color: gold;
    background-color: gold;
    background-size: 0.5px;
}

.scroller {
    width: 300px;
    height: 320px;
    overflow-y: scroll;
    scrollbar-color: white black;
}

.name-input {
    background-color: rgb(41, 39, 39);
    border: 5px solid;
    border-color: lightslategray;
    border-radius: 10%;
    opacity: 0.7;
    border-color: darkgray;
    height: 40px;
    width: 160;
    color: gold;
}

input {
    height: 48px;
    width: 50px;
    border-radius: 10%;
}

input {
    position: absolute;
    left: -9999px;
}

label {
    background-image: url(picture);
    display: inline-block;
    position: relative;
    width: 150px;
    margin: 5px;
    padding: 10px 10px 10px 38px;
    background-color: #000;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
}

label::before {
    /* pictures go here i think */
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(41, 39, 39);
    background-color: #444;
}

input:focus + label {
    outline: 1px solid rgb(41, 39, 39);
}

input:checked + label::before {
    background-color: #c00;
}

.races{
    display: inline-block;
    width: 240px;
    list-style-type: none;
    /* margin: 15px -5px 0; */
    padding: 0;
}

.races li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    /* width: 100px;
    height: 100px; */
}

.races h2 {
    display: none;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 4px;
    border: 1px solid rgb(41, 39, 39);
    color: rgb(41, 39, 39);
    background-color: #000;
    font-size: 14px;
    font-weight: normal;
}

.races img {
    height: 45px;
    width: 55px;
    border-radius: 10%;
    border: 4px ridge rgb(41, 39, 39);
    /* border-radius: 50%; */
    background-color: rgb(41, 39, 39);
    box-shadow: 0 0 20px #000;
    opacity: 0.25;
    transform: scale(0.5);
}

#human:checked ~ .races [data-teams~="human"] h2,
#dwarf:checked ~ .races [data-teams~="dwarf"] h2,
#nightElf:checked ~ .races [data-teams~="nightElf"] h2,
#gnome:checked ~ .races [data-teams~="gnome"] h2,
#draenei:checked ~ .races [data-teams~="draenei"] h2,
#orc:checked ~ .races [data-teams~="orc"] h2,
#undead:checked ~ .races [data-teams~="undead"] h2,
#tauren:checked ~ .races [data-teams~="tauren"] h2,
#troll:checked ~ .races [data-teams~="troll"] h2,
#bloodElf:checked ~ .races [data-teams~="bloodElf"] h2 {
    display: block;
}

#human:checked ~ .races [data-teams~="human"] img,
#dwarf:checked ~ .races [data-teams~="dwarf"] img,
#nightElf:checked ~ .races [data-teams~="nightElf"] img,
#gnome:checked ~ .races [data-teams~="gnome"] img,
#draenei:checked ~ .races [data-teams~="draenei"] img,
#orc:checked ~ .races [data-teams~="orc"] img,
#undead:checked ~ .races [data-teams~="undead"] img,
#tauren:checked ~ .races [data-teams~="tauren"] img,
#troll:checked ~ .races [data-teams~="troll"] img,
#bloodElf:checked ~ .races [data-teams~="bloodElf"] img {
    animation: avatar 0.3s forwards;
}

/* fade in and expand image to full size, with a slight bounce */
@keyframes avatar {
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media only screen and (min-width: 500px) {
    .races {
        /* width: 480px; */
    }
}

@media only screen and (min-width: 740px) {
    .races {
        /* width: 720px; */
    }

    h1 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 980px) {
    .races {
        /* width: 960px; */
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row dense;
}

.first-half {
    grid-column-start: 1;
}

.second-half {
    grid-column-start: 2;
}

.races {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
}
