* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/castleRoom.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-container,
.right-container {
    padding-top: 20px;
}

.WOW-logo {
    width: 200px;
}
.race,
.class {
    background-color: rgb(41, 39, 39);
    border: 5px ridge;
    border-color: lightslategray;
    border-radius: 2%;
    opacity: 0.7;
    text-align: left;
}

.btn-danger {
    border: 1px;
    border-radius: 7%;
    border-color: gray;
}

.left-container-card-body {
    background-color: rgb(41, 39, 39);
    border: 5px ridge;
    border-color: lightslategray;
    border-radius: 2%;
    opacity: 0.7;
    border-color: darkgray;
}

.alliance-card-body {
    background-color: blue;
}

.horde-card-body {
    background-color: red;
}

ul {
    list-style: none;
}

li > img {
    height: 65px;
    width: 75px;
    border-radius: 10%; 
}

.right-container {
    width: 20%;
}

.class-image {
    height: 25px;
    width: 35px;
    border-radius: 10%;
}

.male,
.female {
    height: 35px;
    width: 35px;
    border-radius: 10%;
}

.extra-inputs {
    border: 5px ridge;
    border-color: lightslategray;
    border-radius: 10%;
    background-color: rgb(41, 39, 39);
    color: white;
    height: 30px;
    width: 130px;
}

.race-text,
.class-text {
    color: white;
}

.name-character {
    color: yellow;
}

.card-body{
    padding: 5;
}

h3{
    color: white;
}
